<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
    <xacro:arg name="prefix" default="" />

    <xacro:include filename="diffbot_description.urdf.xacro" />

    <!-- Import Rviz colors -->
    <xacro:include filename="diffbot.materials.xacro" />
    <!-- to make Prefixes work -->
    <xacro:diffbot prefix="$(arg prefix)" />

</robot>